{% extends 'base.html.twig' %}

{% block title %}Location|voiture
{% endblock %}

{% block body %}
	<div class="container">
		<h3 class="text-center text-default">Listes des voitures</h3>
		{% for message in app.flashes('success') %}
			<div class="row">
				<div class="col-4">
					<div class="alert alert-success">
						{{ message }}
					</div>
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('danger') %}
			<div class="row">
				<div class="col-4">
					<div class="alert alert-danger">
						{{ message }}
					</div>
				</div>
			</div>
		{% endfor %}
		{% if admin %}
			<a href="{{path('creation_voiture')}}" class="btn btn-primary"><i class="fa fa-plus"></i> Ajouter</a>
		{% endif %}
		<div class="row no-gutters">
			{% for voitures in voiture %}
				<div class="col-12 col-lg-4 mt-4">
					<div class="card mt-4 mb-2">
						<div class="row no-gutters align-items-center p-2">
							<div class="col-12 col-md-4">
								<img src="{{asset('images/' ~ voitures.modele.image)}}" style="width:90px" alt="">
							</div>
							<div class="col">
								<div class="card-body">
									<h4 class="card-title">
										<small class="text-primary">{{ voitures.modele.marque.libelle}}</small>
									</h4>
									<div class="card-link">matricule:
										<small class="text-warning">{{voitures.immatriculation}}</small>
									</div>
									<div class="card-text">Modele:
										{{ voitures.modele.libelle}}</div>

									<div class="card-link text-success">Prix Moyenne :
										<small class="text-warning">{{voitures.modele.prixMoyenne}}
											$</small>
									</div>
									<div>Nombres de portes :
										{{voitures.nombrePortes}}</div>
								</div>
							</div>
						</div>
						{% if admin %}
							<div class="d-flex  m-4 text-align-center justify-center">
								<a href="{{ path("modificationVoiture", {'id':voitures.id }) }}" class="btn btn-success">Modifier</a>
								<form action="{{ path('suppression_voiture', {'id': voitures.id })}}" method="post">
								<input type="hidden" name="_method" value="SUP" >
								<input type="hidden" name="_token" value="{{csrf_token('SUP' ~ voitures.id)}}">
								<input type="submit" value="supprimer" class="btn btn-danger">
								</form>
							
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="navigation mt-4">
			{{ knp_pagination_render(voiture) }}
		</div>
	</div>

{% endblock %}
