{% extends 'base.html.twig' %}

{% block title %}modification voiture
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
		{% if isModif %}
			<h4 class="text-primary mt-4">Modification Voiture {{ voitures.immatriculation }}</h4>
			{% else %}
				<h4 class="text-primary mt-4">Ajouter Voiture {{ voitures.immatriculation }}</h4>
				{% endif %}
			<div class="col-5">
				{{ form_start(form) }}
				{{ form_widget(form)}}
			
				<a href="{{path('administration')}}" class="btn btn-default">Retour</a>
				<input type="submit" value="Enregistrer" class="btn btn-primary mt-4">
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
